In [56]:
import pandas as pd
with open('Countries with GDP.txt','r') as C_GDP:
    gdp_rd=C_GDP.readlines()
    cntry=gdp_rd[2]
    cntry=cntry[0:-1]
    gdp_v=gdp_rd[7]
    cnt=cntry.split(',')
    gdp=gdp_v.split(',')
    gdpval=[]
    cnt_r=[]
    for each in gdp:
        gdpval.append(float(each))
    for each in cnt:
        cnt_r.append(str(each))

In [40]:
# entire list countries with corresponding GDPs
cnt_v_gdp=pd.DataFrame({'Country':cnt_r,'GDP':gdpval})
cnt_v_gdp

            Country           GDP
0         'Algeria'   2255.225482
1          'Angola'    629.955306
2       'Argentina'  11601.630220
3       'Australia'  25306.824940
4         'Austria'  27266.403350
..              ...           ...
58  'United States'  37691.027330
59        'Uruguay'   9581.056590
60      'Venezuela'   5671.912202
61        'Vietnam'    757.400929
62       'Zimbabwe'    347.745660

[63 rows x 2 columns]

In [53]:
# Country with highest GDP
print("Country with highest gdp")
cnt_v_gdp['Country'].loc[cnt_v_gdp['GDP'].idxmax()]

Country with highest gdp

"'Norway'"

In [54]:
# Country with smallest GDP
print("Country with smallest gdp")
cnt_v_gdp['Country'].loc[cnt_v_gdp['GDP'].idxmin()]

Country with smallest gdp

"'Ethiopia'"

In [52]:
# Sorted list of countries with coresponding GDP
cnt_v_gdp.sort_values(by='GDP',ascending=True)

            Country           GDP
21       'Ethiopia'    229.676952
43          'Nepal'    274.872862
39        'Liberia'    279.220406
62       'Zimbabwe'    347.745660
29          'Haiti'    385.579383
..              ...           ...
48          'Qatar'  36152.666760
58  'United States'  37691.027330
54    'Switzerland'  39170.413710
36          'Japan'  39578.074410
45         'Norway'  40034.850630

[63 rows x 2 columns]

In [41]:
cnt_v_gdp.describe()

                GDP
count     63.000000
mean   11289.409272
std    12846.190627
min      229.676952
25%     1270.818919
50%     4803.398244
75%    20262.713475
max    40034.850630

In [43]:
# maximum value of GDP
cnt_v_gdp['GDP'].max()

40034.85063

In [44]:
# minimum value of GDP
cnt_v_gdp['GDP'].min()

229.6769525

In [45]:
# mean value of GDP
cnt_v_gdp['GDP'].mean()

11289.409271639684

In [46]:
# sum of all GDP values
cnt_v_gdp['GDP'].sum()

711232.7841133

In [55]:
# standardized value of GDP
cnt_v_gdp['GDP'].std()

12846.190626580401